@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #bd3e2d;
    --main: #f1aa6f;
    --bg: #ac9055;
    --border: solid #c9c7c23d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s;
}

html {
    font-size: 70%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    height: 3000px;
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background-color: #d3a24d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .title {
    font-family: 'Tangerine',serif;
    font-size: 8rem;
    color: #fff;
    text-shadow: 4px 4px 4px rgb(214, 202, 202);
}

.navbar a {
    overflow: hidden;
    padding: 90px 10px;
    color: #fff;
    font-size: 1.6rem;

}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    display: flex;
    position: absolute;
    background: #fff;
    width: 50rem;
    height: 5rem;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}


.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--main);
    padding: 1rem;
    text-transform: none;
}

::placeholder {
    color: #fff;
}

.header .search-form.active {
    transform: scaleY(-1);
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--main);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header img {
    height: 7rem;
}

.header .content h3 {
    font-size: 2rem;
    color: var(--main);
    padding-bottom: .5rem;
}

.header .content {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .btn {
    width: 100%;
    text-align: center;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/BG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 100rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

/* menu styling starts here*/

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: var(--bg);
    outline-offset: -1rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box:hover {
    outline: #fff;
}

.menu .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
}

.menu .box-container .box p {
    font-size: 1.7rem;
    color: var(--);
    line-height: 1.8;
    padding: 1rem 0;
}

/*Coffee styling starts here*/
.coffee p {
    font-size: 2rem;
    line-height: 1.8;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0;
    text-align: center;

}

.coffee .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.coffee .box-container .box {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    border: var(--border);
}

.coffee .box-container .box:hover {
    outline: #fff;
}

.coffee .box-container .box img {
    margin: 1rem 0;
    height: 25rem;
}

.coffee .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
}

.coffee .box-container .box p {
    font-size: 1.7rem;
    color: var(--);
    line-height: 1.8;
    padding: 1rem;
}

/* Catering styling starts here*/
.catering .box-container {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
}

.catering .box-container .box {
    border: var(--border);
}

.catering .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.catering .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.catering .box-container .box .content {
    padding: 2rem;
}

.catering .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.catering .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
    text-transform: none;
}

.catering .box-container .box .content p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(15, 15, 15);
    padding: 1rem 0;
}

/*Review styling starts here */

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    font-family: Cambria, Cochin, serif;
    font-style: italic;
    font-size: 1.4rem;
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;

}

.review .box-container .box .p {
    line-height: 25%;
    color: rgb(0, 0, 0);
    padding: 2rem 0;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

/*About styling starts here */
.about .row {
    display: flex;
    align-items: center;
    background: #ac9055;
    flex-wrap: wrap;
    gap: 1rem;

}

.about .row .myframe {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content h3 span {
    color: #5e5b58;

}

.about .row .content p {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}

/*Contact css styling*/

.contact .row {
    display: flex;
    background: #ac9055;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .google-map {
    flex: 1 1 40rem;
    width: 90%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    color: #fff;
}

.contact .row form .inputBox span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/*footer styling starts here*/
.footer {
    background: #d4a655;
    text-align: center;
}

.footer h2 {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #fff;
}

.footer .social {
    padding: 1rem;
}

.footer .social a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0rem;
    border-radius: 50%;
}

.footer .social a:hover {
    color: var(--main-color);
}

* .footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    margin: .1rem;
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 1.6rem;
}

.footer .links a:hover {
    color: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
}

.footer .credit span {
    color: rgb(0, 0, 0);
}















/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--main);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}